{% extends "layout.html" %}
{% block content %}
<h1> {{ groupinfo.groupname }}</h1>
<p>{{groupinfo.group_bio}}</p>
    {% for member in groupinfo.member %}
        <h4>Members:</h4>
        <table>
            <tr>
                <th>Member Name</th>
                <th>Member Level</th>
                
            </tr>
            <tr>
                <td>{{member.username}}</td>
                <td></td>
            </tr>
        </table>
        <p></p>
    {%endfor%}
{% endblock content %}