{% extends 'layout.html' %}



{% block content %}
<h1> Welcome to Chip List </h1>
<h2> Currently Under Construction For Version 2.0 and beyond with many new features, including: </h2>
<table style="text-align: left;">
  <tr>
    <th>Improved password storage security with Bcrypt<th>
  </tr>
  <tr>
    <th>Multiple Chips for more flexability<th>
  <tr>
  <tr>
    <th>Sharable Chips for multiuser functionality<th>
  </tr>
  <tr>
    <th>Contacts page and directory search<th>
  </tr>
  <tr>
    <th><th>
  </tr>
</table>

{% endblock %}
